<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <logging>
        <junit outputFile="build/junit.xml"/>
        <testdoxHtml outputFile="build/coverage.html"/>
        <testdoxText outputFile="build/coverage.txt"/>
        <testdoxXml outputFile="build/coverage.xml"/>
    </logging>
    <php>
        <env name="APP_KEY" value="base64:dC6KzbWYyv2VpBa13+NQubat5H9FhkJarqv9wqGpNPY="/>
    </php>
</phpunit>
